<h2>Edit Profile</h2>

<%= form_for(current_user, url: update_profile_path, method: :put) do |f| %>
  <div class="form-group">
    <%= f.label :current_password, "Current password" %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Profile", class: "btn btn-primary" %>
  </div>
<% end %>
